In [29]:

# libraries
import random
import pandas as pd
import snoop
import feather
import time
import gc
import sys
import feather
import os
import joblib

from varname import nameof
from icecream import ic

from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2, f_classif, mutual_info_classif
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold

from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [30]:
# Load the model from the file
clf_from_joblib = joblib.load('model_mlpclassifier.pkl')
clf_from_joblib

MLPClassifier(max_iter=300, random_state=1)

In [31]:
# generate the fake dataset.
nrows = 10

def make_database(index):
    passengerid = index
    pclass = random.randint(1, 3)
    survived = random.randint(0, 1)
    name = random.randint(0, 1306)
    sex = random.randint(0, 1)
    age = random.randint(2, 80)
    sibsp = random.randint(0, 8)
    parch = random.randint(0, 9)
    ticket = random.randint(0, 928)
    fare = round(random.uniform(0, 513), 4)
    cabin = random.randint(0, 185)
    embarked = random.randint(0, 2)
    boat = random.randint(0, 26)
    body = round(random.uniform(0, 328), 2)
    home_dest = random.randint(0,368)
    
    # 'nameof' get name of variables and are appended in one list with column names.
    name_cols = [] # list
    name_cols.append(nameof(passengerid))
    name_cols.append(nameof(pclass))
    name_cols.append(nameof(survived))
    name_cols.append(nameof(name))
    name_cols.append(nameof(sex))
    name_cols.append(nameof(age))
    name_cols.append(nameof(sibsp))
    name_cols.append(nameof(parch))
    name_cols.append(nameof(ticket))
    name_cols.append(nameof(fare))
    name_cols.append(nameof(cabin))
    name_cols.append(nameof(embarked))
    name_cols.append(nameof(boat))
    name_cols.append(nameof(body))
    name_cols.append(nameof(home_dest))
    
    # fake database
    database = {f'passengerid': passengerid,
                f'pclass': pclass,
                f'survived': survived,
                f'name': name,
                f'sex': sex,
                f'age': age,
                f'sibsp': sibsp,
                f'parch': parch,
                f'ticket': ticket,
                f'fare': fare,
                f'cabin': cabin,
                f'embarked': embarked,
                f'boat': boat,
                f'body': body,
                f'home_dest': home_dest
               }
    
    return name_cols, database

def generate_fakedata(nrows):    
    
    irow = 1
    index = 1310
    name_cols, database = make_database(index)
    df = pd.DataFrame(columns=name_cols)
        
    while(irow <= nrows):
        name_cols, database = make_database(index)
        df_database = pd.DataFrame([database])
        df = pd.concat([df, df_database], ignore_index=True)
        irow += 1
        index += 1

    return df

In [32]:
df = generate_fakedata(nrows)

In [33]:
df

,passengerid,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home_dest
0,1310,1,1,854,1,41,4,0,448,406.223,112,2,18,62.73,20
1,1311,3,0,19,0,37,5,2,672,156.5749,114,1,7,92.04,281
2,1312,1,1,1265,0,53,3,7,367,267.8642,113,1,9,32.5,6
3,1313,2,0,1067,0,18,3,7,313,143.2321,58,2,23,148.8,313
4,1314,3,1,1009,0,5,4,8,628,168.9675,23,0,2,298.29,217
5,1315,1,0,999,1,25,8,0,248,417.7209,54,1,19,201.52,225
6,1316,1,0,191,0,58,7,5,756,91.4207,83,0,3,238.23,357
7,1317,1,1,636,0,52,1,7,212,454.0546,91,0,12,174.13,201
8,1318,3,0,1097,0,62,4,8,773,93.775,24,0,23,258.29,62
9,1319,2,0,622,0,8,6,5,37,469.1645,108,1,6,16.31,9

In [34]:
# Alternatively X and y can be obtained directly from the dataframe attribute:
X = df.drop('survived', axis=1) # drop the column target
y = df['survived'] # target

In [35]:
kf=KFold(n_splits=3)
clf = MLPClassifier(random_state=1, max_iter=300)
score=cross_val_score(clf,X,y,cv=kf)

/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
3 fits failed out of a total of 3.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 393, in _fit
    X, y = self._validate_input(X, y, incremental, reset=first_pass)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 1131, in _validate_input
    self._label_binarizer.fit(y)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py", line 301, in fit
    self.classes_ = unique_labels(y)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/utils/multiclass.py", line 101, in unique_labels
    raise ValueError("Unknown label type: %s" % repr(ys))
ValueError: Unknown label type: (array([1, 0, 0, 1, 0, 0], dtype=object),)

--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 393, in _fit
    X, y = self._validate_input(X, y, incremental, reset=first_pass)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 1131, in _validate_input
    self._label_binarizer.fit(y)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py", line 301, in fit
    self.classes_ = unique_labels(y)
  File "/home/andsilva/anaconda3/lib/python3.9/site-packages/sklearn/utils/multiclass.py", line 101, in unique_labels
    raise ValueError("Unknown label type: %s" % repr(ys))
ValueError: Unknown label type: (array([1, 0, 1, 0, 1, 0, 0], dtype=object),)

  warnings.warn(some_fits_failed_message, FitFailedWarning)

In [36]:
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [nan nan nan]
Average Cross Validation score :nan